<p>
  <b>Name:</b>
  <%=h @educational_institution.name %>
</p>


<%= link_to 'Edit', edit_educational_institution_path(@educational_institution) %> |
<%= link_to 'Back', educational_institutions_path %>